c DIMACS CNF: CDNF-style formula with 4 variables
c CDNF = Conjunctive (AND) of Disjunctive (OR) clauses
c Variables: w=1, x=2, y=3, z=4
c
c Formula: (w v x) ^ (-y v z) ^ (w v -x v y) ^ (-w v z)
c           -------   --------   -----------   -------
c           clause1   clause2   clause3       clause4
c
c Clause 1: (w OR x)        -> 1 2 0
c Clause 2: (NOT y OR z)     -> -3 4 0
c Clause 3: (w OR NOT x OR y)-> 1 -2 3 0
c Clause 4: (NOT w OR z)    -> -1 4 0
c
p cnf 4 4
1 2 0
-3 4 0
1 -2 3 0
-1 4 0
